@model ProfileModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   ViewBag.Title = "Sunrise Senior Living";
}


<body>
    <div class="row" style="margin-top:40px">
        <div class="col-md-6">
            <img src="~/images/EraLiving.jpg" />
            <address style="font-size:20px">
                The Gardens at Town Square
                933 111th Avenue NE
                Bellevue, WA 98004
            </address>
            <p style="font-size:20px">(425) 286-8943</p>
        </div>
        <div class="col-md-6">
            <p style="font-size:20px">
                With a grand foyer, elegant décor and smiling, friendly faces everywhere, The Gardens at Town Square is often mistaken for a five-star hotel. And it’s no surprise. Not only does our graceful community promote healthy aging through a wealth of comprehensive healthcare services, it’s set against the backdrop of some of Bellevue’s finest establishments.
            </p>
        </div>
    </div>
</body>